canvas {
    border: 1px solid black;
    background: rgb(3, 0, 12);
}

body {
    margin: 0;
    color: orangered;
}

iframe {
    display: none;
}

audio {
    display: none;
}

#video {
  position:absolute;
  top: 0%;
  right: 0%;
  height: 550px;
  width: 1000px;
  -webkit-mask-image: radial-gradient(ellipse 95% 120% at 65% 40%, black 25%, transparent 50%);
}

.btn-primary,.reset{
	background-color: #030424;
	color: orangered;
	font-family: 'Sigmar One', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
}


.btn-primary:hover, .reset:hover{
	background-color: #202364;
}

.game-container{
    position: absolute;
    top: 0%;
    left: 20%;

}

h2, #message, #finalMessage{
	font-family: Sigmar One;
}

.questionChoices:hover{
	background-color: orangered;
	color: white;
	padding: 10px;
}

.questionChoices{
	background-color: #202364;
	color: white;
	padding: 10px;
}

.disabled{
  pointer-events: none;
  opacity: .5;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
