canvas {
    border: 1px solid black;
    background: rgb(3, 0, 12);
}

body {
    margin: 0;
}

#video {
  position:absolute;
  top: 0%;
  right: 0%;
  height: 600px;
  width: 1000px;
  -webkit-mask-image: radial-gradient(ellipse 95% 120% at 65% 40%, black 25%, transparent 50%);
}

h1 {
    color: orangered;
    position: absolute;
    top: 10%;
    right: 50%;
}

button {
    color: orangered;
    position: absolute;
    top: 20%;
    right: 50%;
}
