canvas {
    border: 1px solid black;
    background: rgb(3, 0, 12);
}

body {
    margin: 0;
}

.canvas-container{
  /* position: relative; */
  /* width: 500px;
  height: 500px; */
}
#canvas {
  /* position: absolute;
  background-color:lightgrey */
}
#video {
  position:absolute;
  top: 0%;
  right: 0%;
  height: 600px;
  width: 1000px;
}